.itemContainer {
	margin-top: 10px;
}
.item {
	padding: 20px 10px;
	display: flex;
	gap: 10px;
	color: rgba(255, 255, 255, 0.856);
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.item:hover {
	color: white;
	scale: 1.01;
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}

.left {
	max-width: 60%;
}

.right {
	align-items: center;
	flex-direction: row;
	font-size: 18px;
	gap: 20px;
	margin-right: 10px;
	color: rgb(255, 255, 255);
}

.itemTitle {
	color: red;
	font-size: 18px;
}

.itemDes {
	color: rgba(255, 255, 255, 0.8);
	font-size: 13px;
}

.iconContainer {
	font-size: 26px;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
	color: rgb(0, 255, 242);
}
.iconContainer:hover {
	cursor: pointer;
	scale: 1.1;
}

@media (max-width: 961px) {
	.itemDes {
		font-size: 11px;
	}
	.itemTitle {
		font-size: 18px;
	}
	.left {
		max-width: 50%;
	}
	.right {
		font-size: 14px;
		gap: 8px;
		margin-right: 0px;
	}
}
