.orders {
	width: 90vw;
	width: 90dvw;
	max-width: 900px;
	justify-self: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
	padding: 10px;
	gap: 30px;
}

.order {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 1px solid #fff;
}

.order:hover {
	scale: 1.01;
	background-color: rgba(255, 255, 255, 0.185);
	box-shadow: 5px 5px 1px rgb(255, 0, 0, 0.3);
}

.price {
	color: rgb(49, 182, 49);
	font-size: 22px;
	margin-right: 10px;
}

.time {
	color: red;
	font-size: 20px;
}

.items {
	color: rgb(255, 255, 255, 0.7);
	padding: 15px;
	padding-bottom: 5px;
	font-size: 16px;
}

.right {
	justify-content: center;
	align-content: center;
}

@media (max-width: 961px) {
	.orders {
		margin-top: 3.5vh;
	}
	.time {
		font-size: 16px;
	}
	.items {
		font-size: 13px;
	}
}
