@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body,
html {
	margin: 0;
	height: 100%;
	background-color: #000000;
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

.inter {
	font-family: 'Inter', sans-serif;
}

.sour-gummy {
	font-family: 'Sour Gummy', sans-serif;
}

.ubuntu {
	font-family: 'Ubuntu', sans-serif;
}

.blue--text {
	color: rgb(0, 242, 255);
}

.red--text {
	color: #ff0000;
}

.red--btn {
	border-radius: 10px;
	background-color: #ff0000;
	border-color: #ff0000;
	font-family: 'Sour Gummy', sans-serif;
	font-weight: 800;
	font-size: 20px;
}

.black--btn {
	background-color: #000000;
	color: #ff0000;
	border: 2px solid black;
	font-family: 'Sour Gummy', sans-serif;
	font-weight: 800;
	font-size: 20px;
}

.black--btn:hover {
	scale: 1.1;
	cursor: pointer;
}

.red--btn:hover {
	scale: 1.1;
	box-shadow: 5px 5px 1px rgba(255, 0, 0, 0.3);
	cursor: pointer;
}

.red--btn:active {
	scale: 1.1;
	box-shadow: 5px 5px 0px rgba(255, 0, 0, 0.3);
}

.loading {
	opacity: 0.5;
}

.loading--btn {
	opacity: 0.5;
	&:hover {
		cursor: not-allowed !important;
	}
}

.error404 {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 60vh;
	justify-content: center;
}

.error404--btn {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 15px;
	gap: 6px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 15px 25px;
	height: 40px;
	background-color: #000000;
	/* box-shadow: 0px 8px 25px 4px rgb(139, 137, 137); */
}
.nav--right-items {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.navbar a {
	color: white;
}

.nav--right-items a {
	padding: 0px 15px;
	text-decoration: none;
	font-size: 18px;
	color: white;
}

.nav--right-items a:hover {
	scale: 1.1;
	color: #ff0000;
}

.navbar--title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar--title--link {
	text-decoration: none;
	font-size: xx-large;
	font-weight: 800;
}

.navbar--cart--a {
	display: flex;
	padding-right: 0px !important;
	justify-content: right;
}

.navbar--cart--icon {
	height: 100%;
	font-size: 2em;
}
.navbar--cart--icon:hover {
	scale: 1.05;
	color: #ff0000;
}
